.App-nav {
  background-color:#121212;
}

.App-logo {
  height: 30px;
}

.divider-vertical {
  height: 20px;
  border-left: 1px solid gray;
  float: left;
  opacity: 0.5;
  margin: 0 15px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 60s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}